p.speech{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
p.song{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
p.direction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
.direction:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: chartreuse;
    background-color: aqua ;
}
h6.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color:black;
}
h6.CHO{
    font-style: italic;
    color: blue;
}
h6.SOLO{
    font-style: italic;
    color: brown;
}
h6.DIA{
    font-style: italic;
    color: deepskyblue;
}
h6.AP{
    font-style: italic;
    color: seagreen;
}
h6.MER{
    font-style: italic;
    color: tomato;
}
.table{
    border: 4px;
    border-style: double;
    color:antiquewhite;
    text-align: center;
    background-color: blueviolet;
    padding: 2px;
    margin: 2px;

}
tr:nth-child(even){
    background-color: cyan;
}